h1{
    color: blueviolet;
    margin: 1cm;   
}

h2{
    font-size: small;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.content-left {
    width: 65%;
    background-color: #ffffff; 
    margin-right: 20px; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


.content-right {
    width: 30%;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: ghostwhite;
    font-size: medium;
    color: coral;
    margin: 10cqmax;
}

img {
    border-radius: 8px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}


.content-left h1 {
    margin-bottom: 10px;
}

.content-left p {
    margin: 10px 0;
}
